{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/shopping_cart_css/cart.css' %}">
    <title>Responsive Shopping Cart design</title>
</head>
<body>
    <div class="wrapper">
		<h1>Shopping Cart</h1>
		<div class="project">
			<div class="shop">
				{% for user_cart in cart %}
					<div class="box">
						<img src="{{user_cart.product_name.product_image.url}}">
						<div class="content">
								<h3>{{user_cart.product_name.name}}</h3>
								<h4>Price: {{user_cart.product_name.price}} сум</h4>
								<p class="unit">Quantity: {{user_cart.product_count}}</p>
								<p class="btn-area"><i aria-hidden="true" class="fa fa-trash"></i> <span class="btn2">Remove</span></p>
							
						</div>
					</div>
				{% endfor %}
				
			<div class="right-bar">
				<p><span>Subtotal</span> <span>$120</span></p>
				<hr>
				<p><span>Tax (5%)</span> <span>$6</span></p>
				<hr>
				<p><span>Shipping</span> <span>$15</span></p>
				<hr>
				<p><span>Total</span> <span>$141</span></p><a href="#"><i class="fa fa-shopping-cart"></i>Checkout</a>
			</div>
		</div>
	</div>
</body>
</html>